body {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100vh;
}

* {
  padding: 0;
  margin: 0;
}
h1 {
  align-self: center;
}

.mode-selection {
  width: 40%;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 2rem;
  gap: 16px;

}

.battleship {
  background-color: blue;
  text-align: center;
  text-transform: uppercase;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.board-container {
  display: flex;
  gap: 1rem;
  margin: 2%;
  width: 95%;
  height: 100%;
  background-color: aliceblue;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 600px;
  width: 600px;
  background-color: blue;
  gap: 1px;
}

.board > button {
  position: absolute;
  bottom: 50%;
  right: -50%;
  width: 200px;
  transform: translate(-50%);
}

.coordinate {
  /* z-index: 100; */
  position: relative;
  width: 100%;
  height: 100%;
  background-color: aqua;
}

.player-form {
  box-shadow: 0px 3px 3px black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  align-self: center;
  justify-self: center;
  gap: 1rem;
}

input[name="name"],
button {
  padding: 1rem;
  border-radius: 10px;
  color: aliceblue;
  background-color: blue;
  display: block;
  box-sizing: border-box;
  align-self: center;
  width: 80%;
  font-size: 2rem;
}

.msg {
  z-index: 1;
  background-color: aliceblue;
  width: 0;
  height: 0;
  position: fixed;
  padding: 0;
  font-size: 0px;
  top: 50%;
  left: 50%;
  transition: all 1s ease;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: none;
}

.msg[show] {
  font-size: 2rem;
  padding: 2rem;
  width: max-content;
  height: max-content;
  border-radius: 10px;
  
}

.error {
  align-self: center;
  justify-self: center;
  color: red;
  box-shadow: 0px 3px 6px red;
}
